// File for scss-vars.
// For example: main colors, paddings and so on.

$color-text-base: #000000;
$color-text-pink: #e42644;
$color-text-grey: #b2b2b2;

$color-bg: #ffffff;
$color-blue: #0c4da2;
$color-pink: #e7435d;
$color-light-grey: #eeeeee;
$color-middle-grey: #c8c8c8;

$side-margin: 25px;
