.header {
  border-bottom: 1px solid $color-middle-grey;

  &__logotype {
    width: 231px;
    height: 39px;
    background: url("/static/img/general/logotype.jpg");
    display: inline-block;
    margin: 20px 0 0;
  }

  &__content {
    height: 79px;
    margin: auto;
    max-width: 960px;
    min-width: 320px;
    position: relative;
  }

  a:hover,
  a:focus {
    color: $color-text-pink;
  }
}

@media screen and (max-width: 990px) {
  .header__content {
    height: auto;
  }

  .header__logotype {
    margin: 20px $side-margin 0;
  }
}

@media screen and (max-width: 400px) {
  .header {
    border: none;
  }

}